* {
  padding: 0.5px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 7%;
  background-color: #f3f3f3;
  border: 0.5px solid black;
}
.headerImage {
  width: 150px;
}

.nav-items {
  margin-top: 10px;
}
.nav-items > ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.nav-items > ul > li {
  list-style-type: none;
  font-family: system-ui;
  font-size: larger;
}
.res-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  height: 440px;
  width: 220px;
  border: 0.5px solid rgb(186, 171, 171);
  padding: 2.5px;
}

.shimmer-card-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 440px;
  width: 230px;
  border: 0.5px solid rgb(194, 175, 175);
  background-color: rgb(235, 235, 235);
}
.res-card :hover {
  cursor: pointer;
  /* border: 0.8px solid rgb(176, 36, 36); */
}

.res-card > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: top;
}

#restaurents {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
}
.res-card > h3 {
  margin-top: 14px;
}
.res-card > h5,
h4,
p {
  margin-top: 10px;
}

.res-card > p {
  font-size: 14px;
}

button {
  height: 24px;
  width: auto;
  text-align: center;
  border-radius: 6px;
  border-color: #88b6f2;
  color: black;
  font-weight: 500;
  border-style: solid;
  background-color: #88b6f2;
  margin-right: 10px;
  padding: 0px 4px;
}

input {
  border: 1px solid #453f3fa3;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
  margin-right: 10px;
}

.topRestuarentBtn {
  height: 34px;
  width: auto;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  color: white;
  background-color: #0a0140;
  margin: 8px 0px;
  padding: 8px;
}
